extends layout
block body
  - if(files.length===0)
    header
      div.span12
        p ファイルない

  - if(files.length>0)
    header
      div.span12
        h1 Okiba
        p ドロップボックスにおいてたやつとか
  - each file in files
    section
      div.span12.c
        h3
          = file.mtime.toFormat("YYYY-MM-DD HH24:MI:SS")
          a(href=file.name+"/")= " "+file.name+" "
        - if(file.memo!=="")
          p!= file.memo
        - if(file.memo==="")
          p
            em no description