!!! 5
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(name="description", content="xxx")
    meta(author="nbqx")
    title Okiba
    link(rel="stylesheet", href="bootstrap/css/bootstrap.css")
    link(rel="stylesheet", href="bootstrap/css/bootstrap-responsive.css")
    link(rel="stylesheet", href="css/app.css")
  body
    div.container
      div.row
        block body
        footer
          p.pull-right
            powered by 
            a(href="http://gkz.github.com/LiveScript/") LiveScript
            = " and "
            a(href="http://expressjs.com/") express
